<div>
    <h1>{{username}}'s Pets</h1>
    <a href="/">Back to all Users</a>
    <div ng-controller="PetAddController">
        <form ng-submit="addPet()">
            <div class="form-group">
                <input name="name" type="text" class="form-control" placeholder="Enter Pet's Name" ng-model="name" />
                <button type="submit" class="btn btn-primary">Add</button>
            </div>
        </form>
    </div>
    <hr />
    <h5>Total count: {{Pets.length}}</h5>
    <table class="table table-bordered table-striped table-condensed">
        <thead>
            <tr>
                <th>Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="pet in Pets">
                <td>{{pet.Name}}</td>
                <td><button class="btn btn-danger btn-xs" ng-controller="PetDeleteController" ng-click="deletePet(pet.Id)">Delete</button></td>
            </tr>
        </tbody>
    </table>
</div>
